
{%- if context.current_user.id -%}
    {%- assign user_id = context.current_user.id -%}
{%- else -%}
    {%- assign user_id = context.session.session_id -%}
{%- endif -%}

{%- graphql cartList = 'modules/ins_template_ecommerce/cart/get_cart',
    user_id: user_id, status: "Cart" -%}


{%- graphql user_data = 'modules/ins_template_ecommerce/account/get_current_user' -%}
{%- assign user = user_data.current_user -%}

{%- if user -%}
<ins-dropdown class="color-font-sub navigation-cta inline-block" lined label="{{ user.name }}">
    <ul>
        <li><a href="/account-information">Account Information</a></li>
        <li><a href="/order-history">Order History</a></li>
        <li>{% include_form 'modules/ins_template_ecommerce/log_out' %}</li>
    </ul>
</ins-dropdown>
{%- else -%}
<a href="/sign-in" class="color-font-head navigation-cta">
    <i class="icon-user-1"></i>
    <span>Sign in</span>
</a>
{%- endif -%}
<a href="/shopping-cart" class="color-font-head">
    {%- if cartList and cartList.items.total_entries > 0 -%}
    <span class="cart-count">{{ cartList.items.total_entries }}</span>
    {%- endif -%}
    <i class="icon-shopping-cart"></i>
</a>