<li>
<ins-dropdown lined label="Products" link="/products"
    {% if item.link contains context.params.slug %}
        class="active"
    {% endif %}>
    <ul class="text-left">
        {%- graphql parent_category = 'modules/ecommerce/shop/get_category_parent', page: 1, size: 100 | dig: 'items' -%}
        {%- if parent_category.total_entries > 0 -%}
        {%- for catMenu in parent_category.results -%}
        <li
            {% if context.params.slug2 == catMenu.slug %}
            class="li-active"
            {%- endif -%}>
            <a href="/products/{{catMenu.slug}}">{{ catMenu.name }}</a>
        </li>
        {%- endfor -%}
        {%- endif -%}
    </ul>
</ins-dropdown>
</li>