<li>
    <ins-accordion menu>
        <ins-accordion-item 
            heading="Products" 
            link="/products"
            open-icon="icon-plus"
            close-icon="icon-minus"
            {% if item.link contains context.params.slug %} active {% endif %} 
            >
            {%- graphql parent_category = 'modules/ecommerce/shop/get_category_parent', page: 1, size: 100 | dig: 'items' -%}
            {%- if parent_category.total_entries > 0 -%}
            {%- for catMenu in parent_category.results -%}
                <ins-accordion-link label="{{ catMenu.name }}" {% if context.params.slug2 == catMenu.slug %} class="active" {% endif %} 
                link="/products/{{ catMenu.slug }}" link-target="_self"></ins-accordion-link>
            {%- endfor -%}
            {%- endif -%}
        </ins-accordion-item>
    </ins-accordion>
</li>