<li class="small">
    <a href="/shopping-cart" 
        {%- if item.link contains context.params.slug -%}
            class="active"
        {%- endif -%}>
        My Cart
    </a>
</li>
{%- graphql user_data = 'modules/ins_template_ecommerce/account/get_current_user' -%}
{%- assign user = user_data.current_user -%}
<li class="user-info small">
    {%- if user -%}
        <ins-accordion menu>
            <ins-accordion-item 
                open-icon="icon-plus"
                close-icon="icon-minus"
                heading="{{ user.name }}">
                <ul>
                    <li><a href="/account-information">Account Information</a></li>
                    <li><a href="/order-history">Order History</a></li>
                    <li>{% include_form 'modules/ins_template_ecommerce/log_out' %}</li>
                </ul>
            </ins-accordion-item>
        </ins-accordion>
    {%- else -%}
        <a href="/sign-in" class="color-font-head">
            <i class="icon-user-1"></i>
            <span>Sign in</span>
        </a>
    {%- endif -%}
</li>