---
slug: event-account-created
layout: modules/website/website_default
max_deep_level: 1
metadata: {
    "status": "published",
    "page_name": "System | Account Created",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Account Created | Insites",
    "open_graph:description": "Account Created | Insites",
    "open_graph:site_name": "",
    "meta_title": "Account Created | Insites",
    "page_title": "Account Created | Insites",
    "meta_description": "Account Created | Insites",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---

{%- comment -%}
Default 'success / thank you' page
Design & content changes per project as needed
{%- endcomment -%}

<div class="spacer xxxx-large hide-for-small-only"></div>
<div class="thank-you">
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-x grid-padding-x align-center text-center">
                <div class="large-6 medium-6 small-12 cell">
                    <div class="thank-you-img spacer">
                        <i class="icon-number-of-checks" aria-hidden="true"></i>
                    </div>
                    <h1 class="heading-3">Account created</h1>
                    <div class="spacer small"></div>
                    <p class="p-body p-dark">Your account has been successfully created! You can now sign in to the portal and easily manage all your tickets. </p> 
                    <div class='spacer x-large'></div>
                    <a href='/sign-in' aria-label="Sign in"><ins-button label='Sign in' solid></ins-button></a>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="spacer xxxx-large hide-for-small-only"></div>


