---
slug: allocate-ticket
layout: modules/website/website_default
max_deep_level: 1
authorization_policies:
metadata: {
    status: "published",
    heading: "Allocate ticket",
    page_name: "Allocate Ticket",
    meta_title: "Allocate Ticket",
    page_title: "Allocate Ticket",
    sitemap_order: "1",
    sitemap_enabled: "true",
    meta_description: "Allocate Event Tickets",
    open_graph:title: "Allocate Ticket",
    open_graph_image: "{ \"uuid\": \"bbf29636-a1d0-4884-90d9-6edc2af0a08f\", \"name\": \"og-banner (3).jpg\", \"size\": 59514, \"type\": \"image/jpeg\", \"url\": \"https://uploads.prod01.sydney.platformos.com/instances/612/property_uploads/modules/insites_core/attachment/file/bbf29636-a1d0-4884-90d9-6edc2af0a08f/og-banner %283%29.jpg\" }",
    open_graph_title: "Allocate Ticket ",
    sitemap_priority: "1.0",
    sitemap_changefreq: "monthly",
    open_graph:description: "Allocate Ticket",
    open_graph_description: "Allocate Event Tickets",
    sitemap_change_frequency: "always",
}
--- 


{% comment %} Get event details {% endcomment %}
{% assign event_uuid = context.params.event %}

{%- graphql event = 'modules/events/events/get_event_by_uuid', uuid: event_uuid | dig: "items", "results" | first -%}
{%- graphql venue = 'modules/events/events/get_venue_area', venue_uuid: event.venue_uuid | dig: "items", "results" | first -%}
{% graphql venue_area = 'modules/events/events/get_event_venue_area', event_uuid: event_uuid | dig: "items", "results" | first %}

{% comment %} Get System Fields {% endcomment %}
{%- function system_field_names =  "modules/insites_events/controllers/utilities/advanced_filters/get_filter_options"  -%}
       
{% assign filter_options = '{}' | parse_json %}
{% for filter_option in system_field_names %}
    {% assign _data = '{}' | parse_json %}
    {% capture var %}filter-{{ forloop.index }}{% endcapture %}
    {% assign filter_options = filter_options | add_hash_key: var, _data %}
    {% assign filter_options[var] = filter_options[var] | add_hash_key: "field_name", filter_option[0] %}
    {% if filter_option[1].options != blank %}
        {% assign filter_options[var] = filter_options[var] | add_hash_key: "field_options", filter_option[1].options | parse_json %}
    {% endif %}
    {% comment %} Get ticket packages {% endcomment %}
    {% if filter_options[var].field_name == "Ticket Packages" %}
        {% assign ticket_groups = filter_options[var] %}
    {% endif %}
{% endfor %}

{% comment %} Isolate ticket group label {% endcomment %}
{% assign system_field_arr = event.system_fields_uuids %}
{% assign ticket_system_field  =  ticket_groups.field_options  %}

{% for object in ticket_system_field %}
  {% if system_field_arr contains object.uuid %}
    {% assign found = true %}
    {% assign ticket_group = object %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign ticket_group_label = ticket_group.value %}


{% comment %} Check if tickets are enabled {% endcomment %}
{% assign is_individual_ticket_enabled = venue_area.is_individual_ticket_enabled %}
{% assign is_enable_group_ticket = venue_area.is_group_ticket_enabled %}

{% comment %} Check venue capactiy {% endcomment %}

{% assign individual_capacity = venue_area.area_individual_tickets_remaining %}
{% assign capacity_per_group = venue_area.area_group_tickets_remaining %}
{% assign group_capacity = capacity_per_group |  divided_by: venue_area.capacity_per_group %}
{% assign capacity_count  = venue_area.capacity_per_group %}

{% comment %} Get venue details {% endcomment %}
{% assign area_name = venue_area.area_name %}
{% comment %} Steps {% endcomment %}

<div id="purchase-ticket">
    <div id="loadingOverlay" class="loading-overlay">
    <div class="loading-spinner"></div>
    <div id="loadingMessage" class="loading-message">
      Checking ticket availability... <br>
      Hang tight, and please do not leave this screen.
    </div>
    </div>

    {% comment %} Stepper {% endcomment %}
    <div class="purchase-ticket-wrapper" id="purchase-ticket-stepper-wrapper">
        <div class="wrapper">
            <div class="grid-container">
                <div class="grid-x ticket-stepper-container">
                    {%- include 'modules/events/purchase_ticket/stepper' -%}
                </div>
            </div>
        </div>
    </div>

    {% comment %} Stepper {% endcomment %} 
    <div id="purchase-ticket-confirmation-message" class="hide">
        {%- include 'modules/events/purchase_ticket/success_message_section' -%} 
    </div>
  {% comment %} Purchase ticket form {% endcomment %}
    <div class="purchase-ticket-form">
        <div class="wrapper">
            <div class="grid-container">
                <div class="grid-x ticket-stepper-container">          
                    <div id="purchase-ticket-container">
                        <div class="spacer xxxx-large"></div>
                        <div id="ticket-purchase-header-container">
                        <h1 id="ticket-purchase-header" class="heading-1-xsmall">Ticket Allocation</h1>
                        <div class="spacer x-large"></div>
                        </div>
                        <div class="purchase-page">
                            {%- assign props = form.fields.properties -%}
                            <div class="grid-x grid-padding-x invoice-details form-group" active>
                                <div  class="large-7 medium-12 small-12 cell">
                                    {% comment %} Step 4 {% endcomment %}
                                    {% include "modules/events/purchase_ticket/ticket_allocation_step", is_disabled: is_disabled, is_visible: is_visible  %}
                                </div> 
                                <div  class="large-4 large-offset-1 medium-12 small-12 cell">
                                    {% include "modules/events/purchase_ticket/payment_summary" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} ? EVENT UUID {% endcomment %}
<input hidden id="event_uuid_hidden" type="hidden" value="{{ context.params.event }}">
