---
metadata: {
    partial_name: 'Ecommerce | Blocks | Whats Hot'
}
---
<section class="wrapper">
    <div class="spacer xxxx-large"></div>
    <div class="product-carousel">

        {% graphql products = "modules/ecommerce/products/get_products", is_featured: true, size: 8 | dig: 'items','results' %}        

        <!-- desktop carousel -->
        <ins-carousel 
            id="whatsHotCarouselDesktop"
            class="whatsHotCarousel carouselDesktop show-for-large"
            layout="1"
            per-page="4"
            no-pagination=true
            bind-to="whatsHotCardsDesktop">

            <h4>What's hot</h4>     
            <div class="spacer xx-large"></div>
            <div id="whatsHotCardsDesktop" class="product-cards">
                {% for product in products %}
                    {% include "modules/ecommerce/products/product_card", product: product %}
                {% endfor %}
            </div>
        </ins-carousel>
        <!-- desktop carousel -->

        <!-- tablet carousel -->
        <ins-carousel 
            id="whatsHotCarouselTablet"
            class="whatsHotCarousel carouselTablet show-for-medium-only"
            layout="1"
            per-page="3"
            no-pagination=true
            bind-to="whatsHotCardsTablet">

            <div class="grid-container">
                <div class="grid-x">
                    <h4>What's hot</h4>    
                </div>
            </div>
               
            <div class="spacer xx-large"></div>
            <div id="whatsHotCardsTablet" class="product-cards">
                {% for product in products %}
                    {% include "modules/ecommerce/products/product_card", product: product %}
                {% endfor %}
            </div>
        </ins-carousel>
        <!-- tablet carousel -->

        <!-- mobile carousel -->
        <div class="wrapper">
            <ins-carousel 
                id="whatsHotCarouselMobile"
                class="whatsHotCarousel carouselMobile show-for-small-only"
                layout="1"
                per-page="1"
                no-pagination=true
                bind-to="whatsHotCardsMobile">
                
                <h4>What's hot</h4>

                <div class="spacer"></div>
                <div id="whatsHotCardsMobile" class="product-cards">
                    {% for product in products %}
                        {% include "modules/ecommerce/products/product_card", product: product %}
                    {% endfor %}
                </div>
            </ins-carousel>
        </div>
        <!-- mobile carousel -->

    </div>
    <div class="spacer xxxx-large"></div>
</section>

<script>
var whatsHotCarousel = document.querySelectorAll('.whatsHotCarousel');
var showAllLink = {};

whatsHotCarousel.forEach(carousel => {
    var carouselID = carousel.id;
    carousel.addEventListener('didLoad', event => {     
        var carouselCtrlBtns = document.querySelector(`#${carouselID} .ins-carousel_ctrl-btns`);  
        if(carouselCtrlBtns && showAllLink[carouselID] !== true){            
            var newLink = document.createElement('a');
                newLink.href = "/products";
                newLink.textContent = "Shop all";
                newLink.className = "shop-all-link"; 
            carouselCtrlBtns.appendChild(newLink);  
            showAllLink[carouselID] = true;           
        }               
    });          
});
</script>