---
metadata: {
    partial_name: 'Ecommerce | Forms | Stripe'
}
---

{% if has_profile %}
     <form id="card-form" >
{% endif %}
     
      <script src="https://js.stripe.com/v3/"></script>
        <div class="form-row">
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
            <div id="card-errors" class="error-message"></div>
        </div>
        <div class="spacer x-large"></div>
          
          {% comment %} Different arrangement of buttons for modal(member) and block(guest) form {% endcomment %}
          {% if has_profile %}
               {% comment %} For modal form {% endcomment %}
               <div class="grid-x modal-btn-container align-right">
                    <ins-button type="button" outlined 
                         class="card-form-cancel"
                         label="Cancel"
                         icon="icon-x">
                    </ins-button>                    
                    <ins-button type="button" solid 
                         class="card-form-submit"
                         label="Add"
                         data="large-6 medium-6 small-12"
                         icon="icon-task-completed">
                    </ins-button>
               </div>
          {% else %}
               {% comment %} For block form {% endcomment %}
               <div class="grid-x block-btn-container">
                    <div class="large-6 medium-6 small-12 cell">
                         <a href="/checkout/billing" class="card-form-cancel">
                              <ins-button type="button" outlined 
                                   class="card-form-cancel"
                                   label="Back"
                                   icon="icon-arrow-back">
                              </ins-button>
                         </a>
                    </div>
                    <div class="large-6 medium-6 small-12 cell text-right">
                         <ins-button type="button" solid 
                              class="card-form-submit"
                              label="Add"
                              data="large-6 medium-6 small-12"
                              icon="icon-task-completed">
                         </ins-button>
                    </div>
               </div>
          {% endif %}               
          
         

{% if has_profile %}
     </form>
{% endif %}      