<title>{%- yield title -%}</title>
<meta name="title" content="{%- yield 'title' -%}">
<meta name="description" content="{%- yield 'meta_description' -%}">

{%- capture index_follow -%}{%- yield 'search_engine_visibility' -%}{%- endcapture -%}
{% if index_follow == true or index_follow == "true" %}
<meta name="robots" content="index, follow">
{% else %}
<meta name="robots" content="noindex, nofollow">
{% endif %}

<link rel="canonical" href="{%- yield 'canonical_url' -%}">

<meta property="og:title" content="{%- yield 'og_title' -%}">
<meta property="og:description" content="{%- yield 'og_description' -%}">
<meta property="og:url" content="{%- yield 'og_url' -%}">
<meta property="og:site_name" content="{%- yield 'og_site_name' -%}">
<meta property="og:type" content="{%- yield 'og_type' -%}">
{% include 'modules/ins_template_website/layout/seo/og-tags' %}

<link rel="shortcut icon" type="image/png" href="{{ global.company_icon.original }}"/>