---
slug: products
layout: modules/ecommerce/shop_layout
searchable: "true"
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Products",
    "page_title": "Products",
    "meta_title": "Products",
    "source_name": "modules/insites_ecommerce/product"       
}
---
{% comment -%} 
URL Structures: 
    /products/living-room
    /products/living-room/cabinet
{% endcomment -%}

{% comment %} Check if slug2 is a category or a product {% endcomment %}
{%- if context.params.slug2 -%}
    {%- assign slug_type = 'category' -%}
    {% comment %} Check if slug2 is a category {% endcomment %}
    {%- graphql category_exist = 'modules/ecommerce/categories/is_category_exist', slug: context.params.slug2 | dig: 'items','total_entries' -%}    
    {%- if category_exist < 1 -%}
        {%- assign slug_type = 'product' -%}
        {% comment %} Check if slug2 is a product {% endcomment %}
        {%- graphql product_exist = 'modules/ecommerce/products/is_product_exist', slug: context.params.slug2 | dig: 'items','total_entries' -%}
        {%- if product_exist == 0 -%}
            {% redirect_to '/404' %}
        {%- endif -%}    
    {%- endif -%}
{%- endif -%}    



<div class="ecommerce-wrapper grid-container">
    <div class="spacer x-large"></div>

    {% parse_json sort_by %}
    {
        "properties": [
            { "name": "category_weighting", "order": "ASC" }
        ]
    }
    {% endparse_json %}

    {% graphql all_categories = 'modules/ecommerce/categories/get_categories' sort_by: sort_by | dig: 'items','results'  %}

    {% assign is_product_detail = false %}
    {%- if context.params.slug2 -%}
        {%- if slug_type == 'product' -%}
            {% assign is_product_detail = true %}
            {%- include 'modules/ecommerce/products/detail' -%}
        {%- else -%}        
            <div class="spacer small"></div>
            {%- include 'modules/ecommerce/products/list', all_categories -%}
        {%- endif -%}
    {%- else -%}
        <div class="spacer small"></div>
        {%- include 'modules/ecommerce/products/list', all_categories -%}
    {%- endif -%}

</div>


{% if is_product_detail == false %}
    {%- if context.environment == "staging" -%}
        <script src="{{ 'modules/ecommerce/scripts/product-list.js' | asset_url }}" defer></script>
    {% else %}
        <script src="{{ 'modules/ecommerce/scripts/product-list.min.js' | asset_url }}" defer></script>
    {% endif %}
{% endif %}

{%- if context.flash and context.flash.notice == "Success-OutStockNotify" -%}
<script>
setTimeout(() => {
    App.events.notyf('success', "Your inquiry has been sent!");
}, 200);
</script>
{% endif -%} 