
   {% comment %} Buttons {% endcomment %}
    <div class="grid-x grid-padding-x">    
      <div class="large-6 medium-6 small-12 cell">
        <a href="/checkout/shipping">
          <ins-button type="button" label="Back" icon="icon-arrow-back" outlined></ins-button>
        </a>
      </div>
      <div class="show-for-small-only spacer xxx-large"></div>    
      <div class="large-6 medium-6 small-12 cell text-right">        
        <ins-button solid 
        id="billing-submit-button" 
        type="submit" 
        icon-right="icon-arrow-right"
        class="checkout-step-btn w-100 checkout-btn" 
        label="Proceed to payment">
        </ins-button>
      </div>
    </div>