---
metadata: {
    partial_name: 'Ecommerce | Checkout | Checkout Account Info Page'
}
---
{%- comment -%}
    Checkout page + form
{%- endcomment -%}

{%- graphql data = 'modules/ecommerce/account/get_current_user' -%}
{% assign company_uuid = data.current_user.crm_contact[0].company_uuid %}

{% include 'modules/ecommerce/checkout/checkout_redirect_step' %}

<div class="grid-x grid-padding-x">
    <div class="large-offset-2 medium-offset-1 small-offset-0 large-8 medium-10 small-12 cell">
        {% include 'modules/ecommerce/layout/checkout_steps', clickable: true, data %}
    </div>
</div>

<div class="spacer xxxx-large"></div>


{%- assign company_name = "" -%}
{%- if company_uuid and company_uuid != '' -%}
    {%- graphql company = "modules/ecommerce/companies/get_company", 
        uuid: company_uuid | dig: 'items','results' | first -%}
    {%- assign company_name = company.company_name -%}
{%- endif -%}

<h2 class="heading-1 font-color-head">Account Details</h2>
<div class="spacer xxx-large"></div>

<div class="grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">
        {%- if context.current_user -%}
            {% include_form 'modules/ecommerce/checkout_account_information', 
                id: context.current_user.id, 
                input_company_name: company_name,
                data %}
        {%- endif -%}
    </div>
    <div class="large-4 large-offset-1 medium-12 small-12 cell">
        <div class="hide-for-large spacer xxx-large"></div>
        {%- include 'modules/ecommerce/layout/order_summary', 
            show_product: true,
            check
            form_update: true,
            form_delete: true -%}
    </div>
</div>
