---
metadata: {
    partial_name: 'Ecommerce | Checkout | Checkout Account Info Page'
}
---

<div class="spacer xxxx-large"></div>

<h3 class="heading-1 font-color-head">Contact</h3>
<div class="spacer xxx-large"></div>

<div class="grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">
        {%- if context.current_user -%}
            {% comment %} The user is logged in: Get user info {% endcomment %}
            {%- graphql user = 'modules/ecommerce/account/get_current_user' -%}
            {% assign crm_contact = user.current_user.crm_contact[0] %}            

            {% comment %} Edit current_user {% endcomment %}
            {% include_form 'modules/ecommerce/checkout_user_update', 
                id: context.current_user.id, 
                company_name: crm_contact.crm_company.company_name,
                contact_phone_number: crm_contact.mobile_phone_number,
                contact_phone_country_code: crm_contact.mobile_phone_country_code %}

        {%- elsif context.session.contact_email -%}            
            {% comment %} Guest user: Get the guest_id first if it has not yet been added to the session under guest_user {% endcomment %}
            {%  liquid                 
                graphql guest = "modules/ecommerce/account/check_user_email", email: context.session.contact_email | dig: 'items','results' | first
                session guest_id = guest.id
                session guest_uuid = guest.external_id
            %}
            {% comment %} Edit User form where id=guest_id {% endcomment %}
            {% include_form 'modules/ecommerce/checkout_user_update', 
                id: guest.id, 
                company_name: context.session.contact_company_name,
                contact_phone_number: context.session.contact_phone_number,
                contact_phone_country_code: context.session.contact_phone_country_code %}
        {%- else -%}
            {% include 'modules/ecommerce/checkout/checkout_user_create', company_name: context.session.contact_company_name %}
        {%- endif -%}
    </div>
    <div class="large-4 large-offset-1 medium-12 small-12 cell">
        <div class="hide-for-large spacer xxx-large"></div>
        {%- include 'modules/ecommerce/layout/order_summary', 
            show_product: true,
            check
            form_update: true,
            form_delete: true -%}
    </div>
</div>
