<section class="bg-color-ui-02">
    <div class="spacer xxxx-large"></div>
    <div class="product-carousel large-offset-1">

        {% graphql products = "modules/ecommerce/products/get_products", size: 8 | dig: 'items','results' %}        
        

        <!-- desktop carousel -->
        <ins-carousel 
            id="newArrivalsCarouselDesktop"
            class="newArrivalsCarousel carouselDesktop show-for-large"
            layout="1"
            per-page="4"
            no-pagination=true
            bind-to="newArrivalCardsDesktop">

            <h2>New Arrivals</h2>
            <div class="spacer xx-large"></div>
            <div id="newArrivalCardsDesktop" class="product-cards">
                {% for product in products %}
                    {% include "modules/ecommerce/products/product_card", product: product, all_categories: context.exports.all_categories %}
                {% endfor %}
            </div>
            
        </ins-carousel>
        <!-- desktop carousel -->

        <!-- tablet carousel -->
        <ins-carousel 
            id="newArrivalsCarouselTablet"
            class="newArrivalsCarousel carouselTablet show-for-medium-only"
            layout="1"
            per-page="3"
            no-pagination=true
            bind-to="newArrivalCardsTablet">

            <div class="grid-container">
                <div class="grid-x">
                    <h2>New Arrivals</h2>     
                </div>
            </div>

            <div class="spacer xx-large"></div>
            <div id="newArrivalCardsTablet" class="product-cards">
                {% for product in products %}
                    {% include "modules/ecommerce/products/product_card", product: product %}
                {% endfor %}
            </div>
        </ins-carousel>
        <!-- tablet carousel -->

        <!-- mobile carousel -->
        <div class="wrapper">
            <ins-carousel 
                id="newArrivalsCarouselMobile"
                class="newArrivalsCarousel carouselMobile show-for-small-only"
                layout="1"
                per-page="1"
                no-pagination=true
                bind-to="newArrivalCardsMobile">
                
                <h2>New Arrivals</h2>

                <div class="spacer"></div>
                <div id="newArrivalCardsMobile" class="product-cards">
                    {% for product in products %}
                        {% include "modules/ecommerce/products/product_card", product: product %}
                    {% endfor %}
                </div>
            </ins-carousel>
        </div>
        <!-- mobile carousel -->

    </div>
    <div class="spacer xxxx-large"></div>
</section>

<script>
var newArrivalsCarousel = document.querySelectorAll('.newArrivalsCarousel');
var showAllLink = {};

newArrivalsCarousel.forEach(carousel => {
    var carouselID = carousel.id;
    carousel.addEventListener('didLoad', event => {     
        var carouselCtrlBtns = document.querySelector(`#${carouselID} .ins-carousel_ctrl-btns`);  
        if(carouselCtrlBtns && showAllLink[carouselID] !== true){            
            var newLink = document.createElement('a');
                newLink.href = "/products";
                newLink.textContent = "Shop All";
                newLink.className = "shop-all-link"; 
            carouselCtrlBtns.appendChild(newLink);  
            showAllLink[carouselID] = true;           
        }               
    });          
});
</script>