---
metadata: {
    partial_name: 'Ecommerce | Blocks | You May Also Like'
}
---
<section class="bg-color-ui-01">
    <div class="spacer xxxx-large"></div>
    <h3>You may also like</h3>     
    <div class="spacer x-large"></div>

    {% graphql products = "modules/ecommerce/products/get_products", not_uuid: not_uuid, size: 4 | dig: 'items','results' %}    

    <div id="product-grid" class="product-cards products-grid grid-x grid-padding-x grid-padding-y large-up-4 medium-up-3 small-up-1">
    
        {% for product in products %}
            {% include "modules/ecommerce/products/product_card", product: product %}
        {% endfor %}

    </div>
    
</section>