---
metadata: {
    partial_name: 'Ecommerce | Emails | Spacer Table Body'
}
---
{% assign spacer = spaceSize %}

<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
    cellspacing="0" width="100%" style="table-layout: fixed;"
    data-muid="fbde03b7-1ce0-4026-9277-364025e65922.1">
    <tbody>
    <tr>
        <td style="padding:0px 0px {{ spacer }}px 0px;" role="module-content" bgcolor="">
        </td>
    </tr>
    </tbody>
</table>