---
metadata: {
    partial_name: 'Events | Emails | Ticket Tier'
}
---

{% comment %} 
     Required from parent:
     - tickets
     - venue
     - tier
{% endcomment %}

{% liquid
     assign quantity = 0
     assign item = nil

     for ticket in tickets
          if ticket.ticket_venue_name == venue and ticket.tier_id == tier
               assign quantity = quantity | plus: 1
               if item == nil
                    assign item = ticket
               endif
          endif
     endfor
%}

{% comment %} Print ticket details {% endcomment %}
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
     <tr>
          <td style="padding:0px 40px 0px 40px; line-height:22px;">
               <p style="font-size:14px; color:#525252; margin:0;">
                    {{ quantity }} x {{item.capacity_type | capitalize}} - {{item.name}} {{item.price | pricify: 'USD', no_cents_if_whole: false}} AUD
               </p>
          </td>
     </tr>
</table>        