---
metadata: {
    partial_name: 'Ecommerce | Discounts | Add Discount Code Form'
}
---
{% comment %} This partial is not a form at all but it has input fields and a button for user to enter a discount code. {% endcomment %}

{% function user_uuid = 'modules/ecommerce/user/get_user_uuid' %}

<ins-accordion>
    <ins-accordion-item 
        class="discount-code-form"
        heading="Have a discount code?" 
        open-icon="icon-plus"
        close-icon="icon-minus">
        
        <div id="discount-code-form">
     
                <input type="hidden" id="user-uuid-input" value="{{ user_uuid }}" >

                <div class="grid-x gap">
                    <ins-input 
                        id="discount-code-input"
                        class="flex-child-auto"
                        error-message="Discount code is required"
                        label=""
                        placeholder="Enter discount code" >
                    </ins-input>
                    <ins-button 
                        id="apply-discount-btn"
                        label="Apply"
                        type="submit">
                    </ins-button>
                </div>
            
        </div>

    </ins-accordion-item>
</ins-accordion>

<script>
     let contact_uuid = '{{ user_uuid }}';
     let discountCodeForm = document.getElementById('discount-code-form');
     let applyDiscountBtn = document.getElementById('apply-discount-btn');
     let discountCodeInput = document.getElementById('discount-code-input');
     
     applyDiscountBtn.addEventListener('insClick', async function(event) {
        applyDiscountBtn.loading = true;
        let discountCode = await discountCodeInput.getValue();
        let payload = {
                contact_uuid: contact_uuid,
                discount_code: discountCode,
                check_duplicates: true,
                type: 'add_discount_code'
            }          
        shoppingCart.methods.validateDiscountCode(payload, discountCodeForm);
     });
</script>