---
metadata: {
    partial_name: 'Ecommerce | Overview | Purchase Again'
}
---
{% assign user_uuid = context.current_user.external_id %}

{% comment %} Get all order_uuids {% endcomment %}
{%- parse_json order_filters -%}
{
    "order_contact_uuid": "{{user_uuid}}",
    "size": 50
}
{%- endparse_json -%}
{%- graphql orders = 'modules/ecommerce/orders/get_orders', args: order_filters  -%}
{% assign order_uuids = orders.items.results | map: 'uuid' %}

{% comment %} Then get all items having order_uuids in the first query {% endcomment %}
{%- parse_json order_item_filters -%}
{
    "order_uuids": {{order_uuids}},
    "is_product_info_needed": true,
    "size": 50
}
{%- endparse_json -%}
{% graphql ordered_items = 'modules/ecommerce/order_items/get_order_items',
     args: order_item_filters | dig: 'items','results' %}

{% graphql all_categories = 'modules/ecommerce/categories/get_categories' | dig: 'items','results'  %}

<section class="bg-color-ui-01">
    <div class="spacer x-large"></div>
    
    <div class="grid-x align-middle">
        <div class="flex-grow-1">
            <h2>Purchase Again</h2> 
        </div>
        <div class="spacer small cell hide-for-large large-0 medium-12 small-12"></div>
        <div>
            <a href="/purchase-again" class="body-medium font-color-head">See all products</a>
        </div>         
    </div> 
    <div class="spacer"></div>
    <div class="purchase-again-cards-wrap">
        <div class="product-cards grid-x">

            {% assign unique_product_uuids = '' | split: ',' %}
            {% assign i = 1 %}

            {% for item in ordered_items %}

                {% comment %} Do not show duplicate products {% endcomment %}
                {%  liquid 

                    assign is_product_uuid_added = unique_product_uuids | array_index_of: item.product_uuid
                    if is_product_uuid_added 
                        continue
                    endif

                    ## Show only 3 items
                    if i > 3
                        break 
                    endif

                    assign i = i | plus: 1
                    assign unique_product_uuids = unique_product_uuids | array_add: item.product_uuid
                %}

                <div class="large-4 medium-12 small-12">
                {% include "modules/ecommerce/products/product_card", 
                    item: item, all_categories:all_categories, ordered_item: true, purchase_date: item.created_at %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="spacer xxxx-large"></div>
</section>