---
slug: itinerary-upcoming
layout: modules/portal/portal_default
searchable: true
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Upcoming Events | Insites",
    "page_title": "Upcoming Events | Insites",
    "meta_title": "Upcoming Events | Insites" 
}
authorization_policies:
  - modules/portal/is_user_logged_in
#Do not add dynamic_cache here. The page needs to be refreshed to update the download expires_in.
---

{% graphql user_event_uuids = "modules/events/event_tickets/get_user_purchased_tickets", 
    purchased_by_uuid: context.current_user.external_id | dig: 'items','results' | map: 'event_uuid' %}

{% if context.params.slug2 %}
    {% comment %} Details view {% endcomment %}
     
    {% include 'modules/events/events/details/details_portal', user_event_uuids: user_event_uuids %}

{% else %}
    {% comment %} List view {% endcomment %}

    <h1 class="heading-1-xsmall">Upcoming events</h1>
    <div class="spacer"></div>
    <p>Your go-to spot for a complete list of your purchased tickets and all the details for upcoming events.</p>
    <div class="spacer xxx-large"></div>

    <div class="portal-wrapper">
     {% include 'modules/events/events/list/list', page: 'itinerary-upcoming', user_event_uuids: user_event_uuids %}
    </div>

{% endif  %}