---
slug: itinerary-previous
layout: modules/portal/portal_default
searchable: true
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Previous Events | Insites",
    "page_title": "Previous Events | Insites",
    "meta_title": "Previous Events | Insites" 
}
dynamic_cache:
  layout: true
  key: |-
    {%- parse_json models -%}
    [
      "modules/insites_cms/global",
      "modules/insites_core/localisation",
      "modules/website/menu",
      "modules/website/features",
      "modules/insites_events/event",
      "modules/insites_events/venue",      
      "modules/insites_events/event_speaker",
      "modules/insites_events/event_sponsor",
      "modules/insites_events/event_ticket"
    ]
    {%- endparse_json -%}
    {%- include "modules/website/cache/generate_cache_key", models: models -%}
    {{context.current_user.id}}
---

{% graphql user_event_uuids = "modules/events/event_tickets/get_user_event_tickets", 
     contact_uuid: context.current_user.external_id | dig: 'items','results' | map: 'event_uuid' %}


{% if context.params.slug2 %}
    {% comment %} Details view {% endcomment %}
    
    {% include 'modules/events/events/details/previous' %}

{% else %}
    {% comment %} List view {% endcomment %}

    <h1 class="heading-1-xsmall">Previous Events</h1>
    <div class="spacer"></div>
    <p>What a fantastic collection of events you've attended!</p>
    <div class="spacer xxx-large"></div>

    <div class="portal-wrapper">
     {% include 'modules/events/events/list/list', page: 'itinerary-previous', user_event_uuids: user_event_uuids %}
    </div> 

{% endif  %}