---
slug: my-previous-events
layout: modules/portal/portal_default
searchable: true
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Portal | Previous Events | Insites",
    "page_title": "Portal | Previous Events | Insites",
    "meta_title": "Portal | Previous Events | Insites" 
}
dynamic_cache:
  layout: true
  key: |-
    {%- parse_json models -%}
    [
      "modules/insites_cms/global",
      "modules/insites_core/localisation",
      "modules/insites_events/event",
      "modules/insites_events/venue",      
      "modules/insites_events/event_speaker",
      "modules/insites_events/event_sponsor"
    ]
    {%- endparse_json -%}
    {%- include "modules/website/cache/generate_cache_key", models: models -%}
    {{context.current_user.id}}
---

 <div class="grid-x">
    <div class="cell">
        <h1 class="heading-1-xsmall">Previous events</h1>
        <div class="spacer"></div>
        <p>What a fantastic collection of events you've attended!</p> 
        <div class="spacer xxx-large"></div>
    </div>
 </div>

{%  include  'modules/events/portal/event_filter' %}

{% comment %} Pagination {% endcomment %}
<div class="spacer small show-for-small-only"></div>
<ins-table no-wrap
    static-table
    id="paginationTable"
    class="event-pagination-table"
    without-search>    
</ins-table>
