---
metadata: {
    partial_name: 'Events | Details | Banner'
}
---

{% comment %} 
     This banner is being used in:
     - /upcoming-events
     - /previous-events
     - portal: itinerary-upcoming
     - portal: itinerary-previous
{% endcomment %}

<div class="wrap event-banner" >
     <div class="img-wrap">
          {% if event.event_image.url %}
               <img src="{{ event.event_image.url | replace: ' ', '%20' | escape }}" fetchpriority="high" decoding="async" width="920" height="585" alt="{{ event.event_name }}">          
          {% endif %}
     </div>
</div>
<div class="spacer xxxx-large hide-for-small-only"></div>
<div class="spacer xxx-large show-for-small-only"></div>