{% comment %} Date and time {% endcomment %}
<h2 class="heading-2-xsmall">Date and time</h2>
<div class="spacer"></div>
<div class="event-card-wrap">
     {% comment %} Date & time {% endcomment %}
     {% include 'modules/events/events/event_date_time', item: event %}
</div>
<div class="spacer xxx-large"></div>

{% comment %} Location {% endcomment %}
<h2 class="heading-2-xsmall">Location</h2>
<div class="spacer"></div>
{% if event.event_type == 'online_event' %}
     <div class="event-card-wrap">
          <div class="grid-x">
               <i class="icon-map-pin"></i>
               <span>Online event</span>
          </div>
     </div>
{% else %}                    
     <div id="map-container"></div>
     <div class="spacer"></div>
     <div class="event-card-wrap">
          {% include 'modules/events/events/event_location', item: event, show_address: true %}
     </div>
     <div class="spacer"></div>
     <a href="https://www.google.com/maps?q={{ event.venue_name | url_encode }}&ll={{ event.venue_geojson.coordinates[1] }},{{ event.venue_geojson.coordinates[0] }}" target="_blank">
          <ins-button label="Get directions" icon="icon-navigation" outlined></ins-button>
     </a>
{% endif %}
<div class="spacer xxx-large"></div>

{% comment %} About the event {% endcomment %}
{% if event.long_description.size > 0 %}
     <h2 class="heading-2-xsmall">About the event</h2>
     <div class="spacer"></div>
     <div class="wrap">
          {{ event.long_description }}
     </div>               
     <div class="spacer xxx-large"></div>   
{% endif %}         



{% comment %} Speakers {% endcomment %}
{% include 'modules/events/events/blocks/speakers', event: event %}


{% comment %} Sponsors {% endcomment %}
{% include 'modules/events/events/blocks/sponsors', event: event %}


{% comment %} FAQ {% endcomment %}
{% if context.params.slug == 'itinerary-upcoming'  %}
     {% if event.is_faqs_displayed == true %}
          {% include 'modules/events/events/blocks/faq', event: event %}
     {% endif %}   
{% endif %}