---
slug: shopping-cart
layout: modules/ecommerce/shop-layout
max_deep_level: 3
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Cart",
    "og:description": "Cart",
    "og:site_name": "",
    "meta_title": "Cart",
    "page_title": "Cart",
    "meta_description": "Cart",
    "canonical_url": "",
    "search_engine_visibility": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---
{% if context.current_user %}

    {% comment %} Get the user uuid {% endcomment %}
    {%  liquid
        if context.session.user_uuid and context.session.user_uuid != ''
            assign user_uuid = context.session.user_uuid
        else
            graphql user = 'modules/client/account/get_current_user'
            session user_uuid = user.current_user.external_id
            assign user_uuid = user.current_user.external_id
        endif
    %}

    {% graphql user_cart = 'modules/ecommerce/carts/get_user_cart', 
            contact_uuid: user_uuid, show_discount_details: true | dig: 'items','results' | first %}

{% else %}

    {% comment %} Guest user: get cart from local storage {% endcomment %}
    {% assign get_cart_local_storage = true %}

{% endif %}


{% if user_cart.items.size > 0 %}

    {% comment %} Get the product info {% endcomment %}
    {%  liquid

        ## Convert an array of strings into an array of objects
        assign carts = '' | split: ',' 
        for item in user_cart.items
            assign item_json = item | parse_json
            assign carts = carts | array_add: item_json
        endfor

        assign product_uuids = carts | array_map: 'product_uuid' | array_flatten
        graphql products = 'modules/ecommerce/products/get_cart_products', uuid: product_uuids, size: user_cart.items.size | dig: 'items','results'
    %}

{% endif %}


<div class="ecommerce-wrapper grid-container">
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell spacer x-large"></div>
        <div class="small-12 cell">
            <h1 class="heading-1">Review your cart</h1>
        </div>
        <div class="small-12 cell spacer x-large"></div>
        
        <div class="large-7 small-12 cell">
            {% include 'modules/ecommerce/shop/shopping_cart', user_uuid, carts, products %}
            <div class="spacer x-large hide-for-large-only"></div>
        </div>
        <div class="large-4 large-offset-1 small-12 cell">
            {% include 'modules/ecommerce/layout/order_summary', 
                show_product: false, 
                show_discount_list: true,
                form_update: true,
                form_delete: true,
                user_cart, carts, products %}
            <div class="spacer x-large"></div>

            <div id="proceed-to-checkout" class="text-right {% if carts == blank %}hide{% endif %}">
                <ins-button id="proceed-to-checkout-btn" label="PROCEED TO CHECKOUT" solid color="blue" class="checkoutBtn" onclick="document.location.href = '/checkout';"></ins-button>
            </div>

            <div class="spacer x-large"></div>

            {% liquid
                ## Check if has cart
                if user_cart.id
                    assign cart_id = user_cart.id   
                endif

                ## NOTE: Comment out this code as we temporarily remove the discount code feature.
                ## Include discount code form based on cart availability
                ##if cart_id 
                ##    include_form 'modules/ecommerce/apply_discount_code', id: cart_id 
                ##else 
                ##    include_form 'modules/ecommerce/apply_discount_code'
                ##endif
            %}
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{%- if context.environment == "staging" -%}
    <script src="{{ 'modules/ecommerce/services/apiServices.js' | asset_url }}"></script>
    <script src="{{ 'modules/ecommerce/scripts/shopping-cart.js' | asset_url }}"></script>
{%- else -%}
    <script src="{{ 'modules/ecommerce/services/apiServices.min.js' | asset_url }}"></script>
    <script src="{{ 'modules/ecommerce/scripts/shopping-cart.min.js' | asset_url }}"></script>
{%- endif -%}


{% comment %} This code must be below the <script> above {% endcomment %}
{% if get_cart_local_storage == true %}    
    {% include 'modules/ecommerce/carts/cart_items_from_local_storage' %}
{%- endif -%}