---
metadata: {
    partial_name: 'Events | Ticket Purchase | Pending Allocation Notice'
}
---

<div class="warning-notice">
    <div class="spacer section"></div>
        <div class="grid-x grid-padding-x text-center">
            <div class="large-12 medium-12 small-12 cell">
                <div class="spacer x-large show-for-small-only"></div>
                <div class="warning-img spacer">
                    <i class="icon-alert-circle"></i>
                </div>
                <h1 class="heading-1">Allocation pending</h1>
                <div class="spacer"></div>
                <p class="subHeading">You have a recent purchase with tickets that still need to be allocated or completed.</p>
                <div class="spacer"></div>
                <p><a href="{{ pending_allocation_url }}"><ins-button label='Allocate Tickets' solid></ins-button></a></p>
                <div class="spacer x-large show-for-small-only"></div>
            </div>
        </div>
    <div class="spacer section"></div>
</div>
