---
slug: checkout/payment
layout: modules/ecommerce/checkout-layout
searchable: "false"
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Checkout - Payment Detail",
    "page_title": "Checkout - Payment Detail",
    "meta_title": "Checkout - Payment Detail"       
}
---
{%- graphql data = 'modules/ecommerce/account/get_current_user' -%}
{% function has_profile = "modules/website/layout/check_if_user_has_profile" %}
{%- unless has_profile -%}
    {%- assign data = "{}" | parse_json -%}
    {%- assign data = data | add_hash_key: "current_user", null -%}
{%- endunless -%}

{% include 'modules/ecommerce/checkout/checkout_redirect_step' %}

<div class="grid-x grid-padding-x">
    <div class="large-offset-2 medium-offset-1 small-offset-0 large-8 medium-10 small-12 cell">
        {% include 'modules/ecommerce/layout/checkout_steps', clickable: true, data %}
    </div>
</div>

<div class="spacer xxxx-large"></div>

<h2 class="heading-1">Payment Info</h2>
<div class="spacer xxx-large"></div>

<div class="grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">
        {%- include_form 'modules/ecommerce/checkout_payment' -%}   
    </div>
    <div class="large-4 large-offset-1 medium-12 small-12 cell">
        <div class="hide-for-large spacer xxx-large"></div>
        {%- include 'modules/ecommerce/layout/order_summary', 
            show_product: true,
            check
            form_update: true,
            form_delete: true -%}
    </div>
</div>

{%- if context.params.status == 'payment-error' -%}
    {%- if context.params.type == blank or context.params.type == 'missing' -%}
    <script>
        setTimeout(() => {
            Swal.fire({
                html: `
                    <ins-loader state-icon="error" icon-color="error" state-title="Failed to process your order."></ins-loader>
                    <p class="ins-loader-wrap--message">There was an error in processing your order. <br>
                    Please contact notifications@insites.io or try again.</p>`,
                    showCancelButton: false,
                    confirmButtonText: 'Close'
            })
        }, 250);
    </script>
    {%- else -%}
    <script>
        setTimeout(() => {
            var errType = "Card Declined";
            Swal.fire({
                html: `
                    <ins-loader state-icon="error" icon-color="error" state-title="Failed to process your order."></ins-loader>
                    <p class="ins-loader-wrap--message">Your payment failed with error code: <span>`+ errType +`</span> <br>Please review your payment details and try again.</p>`,
                    showCancelButton: false,
                    confirmButtonText: 'Close'
            })
        }, 250);
    </script>
    {%- endif -%}
{%- endif -%}