---
slug: checkout/billing
layout: modules/ecommerce/checkout-layout
searchable: "false"
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Checkout - Billing Detail",
    "page_title": "Checkout - Billing Detail",
    "meta_title": "Checkout - Billing Detail"       
}
---

{% include 'modules/ecommerce/checkout/checkout_redirect_step' %}

<div class="grid-x grid-padding-x">
    <div class="large-offset-2 medium-offset-1 small-offset-0 large-8 medium-10 small-12 cell">
        {% include 'modules/ecommerce/layout/checkout_steps', clickable: true %}
    </div>
</div>

<div class="spacer xxxx-large"></div>

<h2 class="heading-1">Billing</h2>
<div class="spacer xxx-large"></div>

<div class="grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">

        {%- if context.session.billing_address_id == blank -%}
            {% comment %} Add new address {% endcomment %}
            {%- include_form 'modules/ecommerce/checkout_billing_address' -%}
        {%- else -%}
            {% comment %} Edit existing address {% endcomment %}
            {%- include_form 'modules/ecommerce/checkout_billing_address', id: context.session.billing_address_id -%}
        {%- endif -%}
        
    </div>
    <div class="large-4 large-offset-1 medium-12 small-12 cell">
        <div class="hide-for-large spacer xxx-large"></div>
        {%- include 'modules/ecommerce/layout/order_summary', 
            show_product: true,
            check
            form_update: true,
            form_delete: true -%}
    </div>
</div>