---
slug: checkout/billing
layout: modules/ecommerce/checkout_layout
searchable: "false"
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Checkout - Billing Detail",
    "page_title": "Checkout - Billing Detail",
    "meta_title": "Checkout - Billing Detail"       
}
---

<div class="spacer xxxx-large"></div>
<h3 class="heading-1">Billing</h3>
<div class="spacer xxx-large"></div>

<div class="grid-x grid-padding-x">
    <div class="large-7 medium-12 small-12 cell">
        
        {% function has_profile = "modules/website/layout/check_if_user_has_profile" %}
        {% assign company_uuid = context.exports.current_user.user.crm_contact[0].company_uuid %}

        {% if has_profile %}

            {% comment %} Get user's and company's addresses {% endcomment %}
            {% assign related_uuid = '' |  split: ',' %}
            {% assign related_uuid = related_uuid | array_add: context.current_user.external_id %}
            {% if company_uuid %}
                {% assign related_uuid = related_uuid | array_add: company_uuid %}
            {% endif %}
            {%- graphql addresses = 'modules/ecommerce/address/get_address', 
                related_uuid: related_uuid | dig: 'items','results' -%}
            
            {% comment %} Use any address found for user, it won't edit any properties anyway. {% endcomment %}
            {%- include_form 'modules/ecommerce/checkout_billing_address', id: addresses[0].id, addresses -%}
        {% elsif context.session.billing_address_id %}
            {% comment %} Guest user: Edit Billing {% endcomment %}
            {%- include_form 'modules/ecommerce/checkout_billing_address_guest', id: context.session.billing_address_id -%}
        {% else %}
            {% comment %} Guest user: Add Billing {% endcomment %}
            {%- include_form 'modules/ecommerce/checkout_billing_address_guest' -%}
        {% endif %}
    </div>
    <div class="large-4 large-offset-1 medium-12 small-12 cell">
        <div class="hide-for-large spacer xxx-large"></div>
        {%- include 'modules/ecommerce/layout/order_summary', 
            show_product: true,
            check
            form_update: true,
            form_delete: true -%}
    </div>
</div>