---
slug: create-password
layout: modules/portal/portal_system_pages
searchable: false
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "content", 
    "page_name": "Create Password | Insites",
    "page_title": "Create Password | Insites",
    "meta_title": "Create Password | Insites" 
}
---

{%- if context.current_user -%}    
    {%- redirect_to '/overview' -%} 
{%- endif -%} 


{%- if context.flash.notice != blank -%}

    {% comment %} Success message {% endcomment %}
    {%- parse_json messageInfo -%}
    {
        "title" : "Password created!",
        "type": "success",
        "message": "<p class='p-dark'>Your password has been created successfully. </p><div class='spacer small'></div><p>You can now proceed to <a class='a-label-no-visit' href='/sign-in'>sign in.</a></p>"
    }
    {%- endparse_json -%}
    {%- include 'modules/portal/system/form_result', messageInfo: messageInfo -%}

{%- else -%}

    {% comment %} Create password form {% endcomment %}
    <div class="sign-up grid-x">
        <div class="large-8 cell sign-in-field">
            <h3 class="heading-3">Create a password</h3>
            <div class="spacer x-small"></div>
            <p class="p-body p-dark">Create a password to access your portal account.</p>
            <div class="spacer x-large"></div>
            {% assign user_id = context.params.id | jwt_decode: 'HS256', 'f3ec0718-9600-4289-a716-406d138ea44c' | first | dig: 'id'  %}        
            {%- include_form 'modules/events/create_password', id: user_id -%}
        </div>
    </div>

{%- endif -%}