
<div class="thank-you">
    <div class="spacer section"></div>
        <div class="grid-x grid-padding-x text-center">
            <div class="large-12 medium-12 small-12 cell">

                <div class="thank-you-img spacer">
                    <i class="icon-number-of-checks"></i>
                </div>

                <h2 class="heading-2">{{ messageInfo.title }}</h2>
                <div class="spacer"></div>
                <p>{{ messageInfo.message | html_safe }}</p>

            </div>
        </div>
    <div class="spacer section"></div>
</div>
