{% comment %} Import Sponsors {% endcomment %}
{% parse_json import_sponsors %} 
[
     {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {},
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {},
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {
               "path": "modules/insites_events/event_sponsor/logo/0d86e9a3-044c-4822-98bf-389f283d7463/sponsor-logo-03%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "sponsor-logo-03@2x.webp"
               },
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {
               "path": "modules/insites_events/event_sponsor/logo/ec7b5abf-c64e-44ec-8b18-099fd5a432d0/sponsor-logo-04%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "sponsor-logo-04@2x.webp"
               },
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {
               "path": "modules/insites_events/event_sponsor/logo/8efe6ae7-702a-43e1-938a-b751262d7e9d/sponsor-logo-09%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "sponsor-logo-09@2x.webp"
               },
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {},
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {
               "path": "modules/insites_events/event_sponsor/logo/4fae7afc-87e5-4e5a-a7f3-4ca2aabe2493/sponsor-layers%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "sponsor-layers@2x.webp"
               },
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {
               "path": "modules/insites_events/event_sponsor/logo/929113c1-eede-482e-9fba-5a4c4594af8f/sponsor-quotient%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "sponsor-quotient@2x.webp"
               },
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {},
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {},
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {},
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {},
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {},
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a",
               "company_name": "Layers",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.quotient.io",
               "logo": {},
               "uuid": "23c7e829-4e95-4d45-a17c-2e87e2ed9fe9",
               "value": 0,
               "content": "<p>Quotient is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a",
               "company_name": "Quotient",
               "company_uuid": "f98b6ee0-eb09-48c9-9f4d-7b14fb67272f",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {},
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.galileo.io",
               "logo": {
               "path": "modules/insites_events/event_sponsor/logo/e050a839-1b9e-40a9-88cc-fa8424a32d29/sponsor-gelileo%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "sponsor-gelileo@2x.webp"
               },
               "uuid": "bf9f0f19-c0d3-4996-a779-9cce7243801f",
               "value": 0,
               "content": "<p>Galileo is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.<br><br>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66",
               "company_name": "Galileo",
               "company_uuid": "5c1266c6-a0be-4a37-93c4-31070d997fab",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "http://www.layers.io",
               "logo": {
               "path": "modules/insites_events/event_sponsor/logo/63b0ac8d-55da-4bda-b337-ede562ca54bf/sta-je-layer.jpg",
               "versions": {},
               "extension": "jpg",
               "file_name": "sta-je-layer.jpg"
               },
               "uuid": "b306cf7c-8612-4a47-896b-d4bf462ac8fe",
               "value": 0,
               "content": "<p>Layers is a leading technology services company dedicated to empowering businesses across Australia and New Zealand through innovative and comprehensive digital solutions. With over 25 years of experience, Layers specialises in delivering tailored tech services that drive efficiency, foster growth, and build lasting digital infrastructure.</p><p><br></p><p>From strategic IT consulting and robust cloud solutions to cutting-edge cybersecurity and custom software development, Layers partners with organisations of all sizes to navigate the complexities of the modern technological landscape. Layers' expert teams are committed to understanding unique business needs and providing scalable, reliable, and secure solutions that unlock new possibilities.&nbsp;</p>\n",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "company_name": "Layers, Inc.",
               "company_uuid": "043930a6-7be1-4c4d-bb27-2a594e033f77",
               "sponsor_weighting": 0
          }
      },
      {
          "type_name": "modules/insites_events/event_sponsor",
          "properties": {
               "tax": null,
               "link": "https://www.combinate.me",
               "logo": {
               "path": "modules/insites_events/event_sponsor/logo/0667aaea-9ccb-4113-8e22-e59b02494209/CMB-logo-png.png",
               "versions": {},
               "extension": "png",
               "file_name": "CMB-logo-png.png"
               },
               "uuid": "25eedd21-3ec0-4ccd-bdcb-14ec7c52b414",
               "value": 1000,
               "content": "<p>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.&nbsp;</p><p></p><p>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.</p><p></p><p>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.</p><p></p><p>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.</p><p></p><p>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.</p><p></p><p>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.</p><p></p><p>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts. <br><br>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.<br><br>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.<br><br>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.<br><br>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.<br><br>Combinate is where ideas unite. We bring together diverse elements, perspectives, and talents to forge innovative solutions and create something truly new. We don't just solve problems; we combine the best of what's available to create something better than the sum of its parts.</p>\n",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "company_name": "Combinate",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "sponsor_weighting": 4
          }
      }
]
{% endparse_json %}

{%- graphql results, models: import_sponsors -%}
     mutation ($models: [CustomizationImport!]!) {
          import_models(
               models: $models
          ) {
               ids
          }
     }
{%- endgraphql -%}
{% log results, type: "SEED DATA: Sponsors" %}