{% comment %} Import Speakers {% endcomment %}
{%- graphql existing -%}
  query {
    items: records(
      per_page: 1
      filter: {
        table: { value: "modules/insites_events/event_speaker" }
        deleted_at: { exists: false }
      }
    ) {
      total_entries
    }
  }
{%- endgraphql -%}
{%- assign existing_count = existing.items.total_entries | default: 0 -%}
{%- if existing_count == 0 -%}
{% parse_json import_speakers %}
[
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {
               "path": "modules/insites_events/event_speaker/image/635f6b37-7063-4edb-99e3-0081b134bd0f/speaker-sofia-rodriguez02%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "speaker-sofia-rodriguez02@2x.webp"
               },
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {
               "path": "modules/insites_events/event_speaker/image/b0b3ebe4-e730-4e53-921c-91cd754bc4d2/speaker-juian-cross%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "speaker-juian-cross@2x.webp"
               },
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
     {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {
               "path": "modules/insites_events/event_speaker/image/a0701088-2c17-437a-9e3e-74aaf26eaa36/test.png",
               "versions": {},
               "extension": "png",
               "file_name": "test.png"
               },
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {},
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "7630f1e1-0c81-4028-984e-f5f6e927d9b1",
               "image": {},
               "content": "<p>Sofia stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Creative Director ",
               "last_name": "Rodriguez",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a",
               "first_name": "Sofia",
               "company_name": "PixelFlow Agency",
               "company_uuid": "5d6b667c-2ddc-4093-828e-4d1a43a236f7",
               "contact_uuid": "3565742f-7463-43c3-b210-a744f321ad76",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "4755de0b-3df0-46fc-980d-ff1c40423bc4",
               "image": {},
               "content": "<p>Julian Cross stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Chief Data Officer",
               "last_name": "Cross",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a",
               "first_name": "Julian",
               "company_name": "OmniAnalytics Group",
               "company_uuid": "e378874e-630c-4375-8987-e152d5dfb520",
               "contact_uuid": "e5418c8d-bc15-4e6a-a72b-6fe548d39672",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "3065ece8-4e9d-4ac6-b25e-2d671194153f",
               "image": {},
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.<br><br>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.<br><br>Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy at TechInnovate Solutions",
               "last_name": "Vance",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "ff0c43a4-b64c-4386-a4ae-44eabc56a397",
               "image": {
               "path": "modules/insites_events/event_speaker/image/4f9391f6-2cb9-4aba-a5c5-3c6120521df5/Screenshot 2025-07-21 at 3.34.49 PM.png",
               "versions": {},
               "extension": "png",
               "file_name": "Screenshot 2025-07-21 at 3.34.49 PM.png"
          },
               "content": "<p>A recognized leader in the field of AI-driven marketing, this expert brings a forward-thinking approach to integrating artificial intelligence into modern strategies. With deep knowledge in automation, personalization, and intelligent content generation, they focus on real-world applications that elevate both efficiency and engagement.</p><p><br></p><p>Their sessions highlight how AI can streamline operations, unlock data-driven insights, and enable tailored customer experiences that strengthen brand connection. Known for making complex topics approachable, they provide marketers with the tools to stay ahead in a fast-changing digital environment.</p>\n",
               "job_title": "Food Tech Investment Strategist",
               "last_name": "Jenkins",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590",
               "first_name": "Sarah",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "2499adf7-44c8-4e20-84a5-fb283f832124",
               "speaker_weighting": 4
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "f3143d8c-e7f6-43b6-a16f-078339fddd9a",
               "image": {
               "path": "modules/insites_events/event_speaker/image/b6871d86-fe29-43a6-b521-56199c1376ce/Screenshot 2025-07-21 at 3.34.39 PM.png",
               "versions": {},
               "extension": "png",
               "file_name": "Screenshot 2025-07-21 at 3.34.39 PM.png"
               },
               "content": "<p>A recognized leader in the field of AI-driven marketing, this expert brings a forward-thinking approach to integrating artificial intelligence into modern strategies. With deep knowledge in automation, personalization, and intelligent content generation, they focus on real-world applications that elevate both efficiency and engagement.<br><br>Their sessions highlight how AI can streamline operations, unlock data-driven insights, and enable tailored customer experiences that strengthen brand connection. Known for making complex topics approachable, they provide marketers with the tools to stay ahead in a fast-changing digital environment.</p>\n",
               "job_title": "Agritech Pioneer",
               "last_name": "Cromwell",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590",
               "first_name": "Oliver",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "394aaa64-7385-4272-8a78-1475f05acb2a",
               "speaker_weighting": 3
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {
               "path": "modules/insites_events/event_speaker/image/17a627ba-2086-46a0-9ccb-dce0f7b4c10c/speaker-ben-carter%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "speaker-ben-carter@2x.webp"
               },
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "5bd39ec6-682e-43b1-9dd3-5e90d2524365",
               "image": {
               "path": "modules/insites_events/event_speaker/image/b7698b03-fec6-4ffe-b3fc-49030751ff6f/speaker-eleanor-vance%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "speaker-eleanor-vance@2x.webp"
               },
               "content": "<p>Vance stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.Her presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Global Head of AI Marketing Strategy",
               "last_name": "Vance",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66",
               "first_name": "Eleanor",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "c123393b-77c7-4cbe-ad85-3575355a9afc",
               "speaker_weighting": null
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "113eb241-463f-4506-a45e-858b4ff7f104",
               "image": {
               "path": "modules/insites_events/event_speaker/image/fd46293d-b402-4608-adea-931a591dab06/Screenshot 2025-07-21 at 3.32.51 PM.png",
               "versions": {},
               "extension": "png",
               "file_name": "Screenshot 2025-07-21 at 3.32.51 PM.png"
               },
               "content": "<p>A recognized leader in the field of AI-driven marketing, this expert brings a forward-thinking approach to integrating artificial intelligence into modern strategies. With deep knowledge in automation, personalization, and intelligent content generation, they focus on real-world applications that elevate both efficiency and engagement.<br><br>Their sessions highlight how AI can streamline operations, unlock data-driven insights, and enable tailored customer experiences that strengthen brand connection. Known for making complex topics approachable, they provide marketers with the tools to stay ahead in a fast-changing digital environment.</p>\n",
               "job_title": "Culinary Innovation Lead",
               "last_name": "Rossi",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590",
               "first_name": "Mateo",
               "company_name": "TechInnovate Solutions",
               "company_uuid": "a5608ce3-ca31-42ab-b146-4c9aa6737fc5",
               "contact_uuid": "b47a571e-b4f9-4238-ac2d-6bded6e4d948",
               "speaker_weighting": 2
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "6b2ee780-7557-498a-932b-02bb14b6b716",
               "image": {
               "path": "modules/insites_events/event_speaker/image/2ede2a3e-c1e3-49a9-b8a3-74af4e51a28b/speaker-anya-sharma%402x.webp",
               "versions": {},
               "extension": "webp",
               "file_name": "speaker-anya-sharma@2x.webp"
               },
               "content": "<p>A recognized leader in the field of AI-driven marketing, this expert brings a forward-thinking approach to integrating artificial intelligence into modern strategies. With deep knowledge in automation, personalization, and intelligent content generation, they focus on real-world applications that elevate both efficiency and engagement.<br><br>Their sessions highlight how AI can streamline operations, unlock data-driven insights, and enable tailored customer experiences that strengthen brand connection. Known for making complex topics approachable, they provide marketers with the tools to stay ahead in a fast-changing digital environment.</p>\n",
               "job_title": "Sustainable Food Systems Advocate",
               "last_name": "Sharma",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590",
               "first_name": "Anya",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "f02b80a7-1df2-4479-bce4-2c0968debb96",
               "speaker_weighting": null
          }
     },
      {
          "type_name": "modules/insites_events/event_speaker",
          "properties": {
               "uuid": "8491f935-9e0e-4e44-a924-a11c6454b114",
               "image": {
               "path": "modules/insites_events/event_speaker/image/a8607d88-6e37-4bf4-b196-a4c46ce8508d/test3.png",
               "versions": {},
               "extension": "png",
               "file_name": "test3.png"
               },
               "content": "<p>Ben Carter stands as a pivotal figure in the rapidly evolving landscape of AI-powered marketing. As the Global Head of AI Marketing Strategy at TechInnovate Solutions, she is not merely observing trends; she is actively shaping them. Eleanor's profound expertise lies in her ability to seamlessly integrate cutting-edge artificial intelligence into comprehensive marketing frameworks. Her sessions are renowned for illuminating precisely how AI can fundamentally revolutionize various facets of the marketing domain.</p><p><br></p><p>Attendees will gain unparalleled insights into how AI can dramatically enhance content creation, moving beyond basic automation to intelligent content generation that resonates deeply with target audiences. Furthermore, she'll delve into the power of AI to automate repetitive tasks, freeing up valuable human capital for more strategic endeavors. Perhaps most critically, Eleanor will showcase how AI facilitates the creation of deeply personalized customer experiences, fostering stronger brand loyalty and driving significant engagement.</p><p><br></p><p>His presentations always provide practical applications and strategic advantages, making complex AI concepts accessible and demonstrating how they can be leveraged to drive substantial growth and unparalleled efficiency in today's digital landscape. Eleanor's vision helps marketing professionals not just adapt to the future, but actively lead it.</p>\n",
               "job_title": "Lead Researcher in Digital Consumer Behavior",
               "last_name": "Carter",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b",
               "first_name": "Ben",
               "company_name": "Future Insights Institute",
               "company_uuid": "61a8835f-4c49-491f-8f6d-4489234b7cd2",
               "contact_uuid": "3c326a0b-d87e-401a-b567-cc5cc229b10b",
               "speaker_weighting": 0
          }
     }
]
{% endparse_json %}

{%- graphql results, models: import_speakers -%}
     mutation ($models: [CustomizationImport!]!) {
          import_models(
               models: $models
          ) {
               ids
          }
     }
{%- endgraphql -%}
{% log results, type: "SEED DATA: Speakers" %}
{%- else -%}
{% log existing_count, type: "SEED DATA: Speakers skipped (records already exist)" %}
{%- endif -%}