{% comment %} Import FAQs {% endcomment %}
{%- graphql existing -%}
  query {
    items: records(
      per_page: 1
      filter: {
        table: { value: "modules/insites_events/event_faq" }
        deleted_at: { exists: false }
      }
    ) {
      total_entries
    }
  }
{%- endgraphql -%}
{%- assign existing_count = existing.items.total_entries | default: 0 -%}
{%- if existing_count == 0 -%}
{% parse_json import_faqs %}
[
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66"
            }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66"
            }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66"
            }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66"
            }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66"
            }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66"
            }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "1dc0ede4-2c52-4445-80e8-9e76d088edd7",
               "answer": "<p>After registration, details on how to attend will be shared. Depending on the type of event, this may include a ticket, confirmation email, or access link.</p>\n",
               "question": "How can I attend the event?",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "f87b1ca6-e60d-4548-9146-29b9e6db6176",
               "answer": "<p>Refund policies vary by event. For more information, please refer to the event's refund policy or contact the organizer.</p>\n",
               "question": "Can I get a refund if I can't attend?",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "7b7972bf-01e9-4d02-88e5-ea8e4df9e537",
               "answer": "<p>Some events may offer discounts such as early bird pricing or group rates. Check the event details or promotional materials for any available offers.</p>\n",
               "question": "Are there any discounts available?",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "76c8bee7-770a-4437-8757-dc5a8b7034e2",
               "answer": "<p>Event materials may be provided either before or after the event. Depending on what's available, these can include presentation slides, handouts, or recordings.</p>\n",
               "question": "Will event materials be provided?",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "ae659179-166d-4186-84fe-4618de9b6632",
               "answer": "<p>If you have any questions or concerns, please contact the event organizer or support contact listed on the event page.</p>\n",
               "question": "Whom can I contact for further assistance?",
               "event_uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c"
          }
     },
     {
          "type_name": "modules/insites_events/event_faq",
          "properties": {
               "uuid": "b73748c0-3ee1-4eb2-9edf-21bfadb1a5f5",
               "answer": "<p>You can register by following the instructions provided on the event page. Registration usually involves filling out a form and completing payment if required.</p>\n",
               "question": "How do I register for the event?",
               "event_uuid": "02032c38-7406-4769-a57c-88e472e2f42a"
          }
     }
]
{% endparse_json %}

{%- graphql results, models: import_faqs -%}
     mutation ($models: [CustomizationImport!]!) {
          import_models(
               models: $models
          ) {
               ids
          }
     }
{%- endgraphql -%}
{% log results, type: "SEED DATA: FAQs" %}
{%- else -%}
{% log existing_count, type: "SEED DATA: FAQs skipped (records already exist)" %}
{%- endif -%}