{% comment %} Import Events {% endcomment %}
{% parse_json import_events %} 
[
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "christmas-in-august",
               "uuid": "3554b383-129a-4234-b360-aee65294898d",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Christmas in August",
               "venue_type": "venue",
               "venue_uuid": "99839fd2-0e27-4084-a28e-2a1b9d44763b",
               "venue_name": "Melbourne Convention and Exhibition Centre",
               "venue_address_1": "1 Convention Centre Place",
               "venue_city": "South Wharf",
               "venue_state": "VIC",
               "venue_suburb": "Melbourne City",
               "venue_postcode": "3006",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": null,
               "venue_latitude": "-37.82430069999999",
               "venue_longitude": "144.9560976",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-08-30T15:00:00.000Z",
               "end_date_time": "2025-08-30T18:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>Get ready to celebrate Christmas in August!&nbsp;</p><p>This unique event is your chance to escape the summer heat and get into the holiday spirit a little early. We're bringing all the magic of Christmas to you, complete with festive decorations, classic holiday music, and a special appearance from Santa Claus himself.You'll have the opportunity to enjoy delicious holiday treats, browse through a charming market filled with handcrafted gifts, and participate in fun, family-friendly activities. Whether you're looking to find the perfect gift, enjoy a cozy atmosphere, or simply make some joyful memories, Christmas in August has something for everyone.Join us for a day of merriment and cheer as we celebrate the most wonderful time of the year, even when the sun is shining!</p><p>For further information and inquiries, please contact us:<br><br>Email: info@example.com<br>Phone: +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)<br>Social Media: Follow us on LinkedIn, Instagram, and Facebook for the latest updates.<br></p>\n",
               "is_faqs_displayed": null,
               "total_group_tickets_remaining": 500,
               "total_individual_tickets_remaining": 500
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "digital-marketing-summit-2025",
               "uuid": "db2ad0c0-c8f8-435e-8dc7-f517e6a77428",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Digital Marketing Summit 2025",
               "venue_type": "venue",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": null,
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-07-12T17:30:00.000Z",
               "end_date_time": "2025-07-12T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 490,
               "total_individual_tickets_remaining": 100
          }
     },
      {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "agile-project-management-insights",
               "uuid": "032cf498-73dd-4f11-ad47-aa5c1491df77",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Agile Project Management Insights",
               "venue_type": "venue",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": null,
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-12-16T08:30:00.000Z",
               "end_date_time": "2025-12-16T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 1940,
               "total_individual_tickets_remaining": 1299
          }
      },
      {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "supply-chain-innovation-forum",
               "uuid": "fb83c72e-dc08-46de-9baf-4c68c4750156",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Supply Chain Innovation Forum",
               "venue_type": "venue",
               "venue_uuid": "64afdb39-fc6c-4aaf-a262-fe01eb08a692",
               "venue_name": "Perth Convention Centre",
               "venue_address_1": "21 Mounts Bay Road",
               "venue_city": "Perth",
               "venue_state": "WA",
               "venue_suburb": "City of Perth",
               "venue_postcode": "6000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": {
                    "type": "Point",
                    "coordinates": [
                    115.8523783,
                    -31.95671889999999
                    ]
               },
               "venue_latitude": "-31.95671889999999",
               "venue_longitude": "115.8523783",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-12-18T17:30:00.000Z",
               "end_date_time": "2025-12-19T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 0,
               "total_individual_tickets_remaining": 0
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "cloud-computing-trend",
               "uuid": "8fdb8f68-b4d4-4338-baa7-ff58d2e35b66",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Cloud Computing Trends",
               "venue_type": "ef3c5221-c028-4d8e-b592-66bf1cd0770c",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": {
                    "type": "Point",
                    "coordinates": [
                    151.199509,
                    -33.8748582
                    ]
               },
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-11-08T17:30:00.000Z",
               "end_date_time": "2025-11-08T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": null,
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 1250,
               "total_individual_tickets_remaining": 500
          }
      },
      {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "cybersecurity-trends-2025",
               "uuid": "03013d0e-eb3f-4678-908e-621316d8fb7b",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Cybersecurity Trends 2025",
               "venue_type": "venue",
               "venue_uuid": "bccb7e63-8e8c-4b9d-a238-c7004581631d",
               "venue_name": "The Fortitude Music Hall",
               "venue_address_1": "312-318 Brunswick Street",
               "venue_city": "Fortitude Valley",
               "venue_state": "QLD",
               "venue_suburb": "Brisbane City",
               "venue_postcode": "4006",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": {
                    "type": "Point",
                    "coordinates": [
                    153.034627,
                    -27.4577936
                    ]
               },
               "venue_latitude": "-27.4577936",
               "venue_longitude": "153.034627",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-12-29T17:30:00.000Z",
               "end_date_time": "2025-12-30T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 300,
               "total_individual_tickets_remaining": 1500
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "future-of-food-summit",
               "uuid": "8d277ab5-60bd-4fc4-8b65-a7de0b29e590",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Future of Food Summit",
               "venue_type": "venue",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": {
                    "type": "Point",
                    "coordinates": [
                    151.199509,
                    -33.8748582
                    ]
               },
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-07-13T17:30:00.000Z",
               "end_date_time": "2025-07-13T21:00:00.000Z",
               "category_uuid": "deddd48c-999d-45c8-97ea-3a2da6c1fd3e",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 1740,
               "total_individual_tickets_remaining": 1100
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "ai-in-healthcare-summit",
               "uuid": "b2b5cd52-e852-4852-bc7f-6493753bd51c",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "AI in Healthcare Summit",
               "venue_type": "venue",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": null,
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-07-13T17:30:00.000Z",
               "end_date_time": "2025-07-13T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 0,
               "total_individual_tickets_remaining": 0
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "renewable-energy-conference",
               "uuid": "c3604d8e-80ac-4848-aca7-11ef692a187b",
               "status": "enabled",
               "event_type": "online_event",
               "event_name": "Renewable Energy Conference",
               "venue_type": "online_event",
               "venue_uuid": "99839fd2-0e27-4084-a28e-2a1b9d44763b",
               "venue_name": "Melbourne Convention and Exhibition Centre",
               "venue_address_1": "1 Convention Centre Place",
               "venue_city": "South Wharf",
               "venue_state": "VIC",
               "venue_suburb": "Melbourne City",
               "venue_postcode": "3006",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": null,
               "venue_latitude": "-37.82430069999999",
               "venue_longitude": "144.9560976",
               "event_time_zone": "+0930@Adelaide",
               "start_date_time": "2025-07-31T18:30:00.000Z",
               "end_date_time": "2025-07-31T21:00:00.000Z",
               "category_uuid": "5c6bdb3b-0c87-43ff-9ef5-94c1dce07e7d",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 0,
               "total_individual_tickets_remaining": 0
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "digital-transformation-leaders-forum",
               "uuid": "3a50b15e-a00a-4964-998d-22b223c05b1f",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Digital Transformation Leaders Forum",
               "venue_type": "ef3c5221-c028-4d8e-b592-66bf1cd0770c",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": {
                    "type": "Point",
                    "coordinates": [
                    151.199509,
                    -33.8748582
                    ]
               },
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2026-03-10T17:30:00.000Z",
               "end_date_time": "2026-07-28T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 0,
               "total_individual_tickets_remaining": 0
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "sustainable-living-workshop",
               "uuid": "fe53ebb6-c4d3-4662-b555-0cd17916e75c",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Sustainable Living Workshop",
               "venue_type": "venue",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": null,
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-07-17T17:30:00.000Z",
               "end_date_time": "2025-07-17T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 0,
               "total_individual_tickets_remaining": 0
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "innovation-&-tech-expo",
               "uuid": "02032c38-7406-4769-a57c-88e472e2f42a",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Innovation & Tech Expo",
               "venue_type": "venue",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": null,
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-07-15T09:30:00.000Z",
               "end_date_time": "2025-07-16T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 965,
               "total_individual_tickets_remaining": 203
          }
     },
     {
          "type_name": "modules/insites_events/event",
          "properties": {
               "slug": "modern-marketing-strategies",
               "uuid": "bf0f6055-2070-44a7-b45d-ea10b3648a76",
               "status": "enabled",
               "event_type": "venue",
               "event_name": "Modern Marketing Strategies",
               "venue_type": "venue",
               "venue_uuid": "db9febd6-10a4-4614-a87c-b7b9e8c6a5e0",
               "venue_name": "ICC Sydney",
               "venue_address_1": "14 Darling Drive",
               "venue_city": "Sydney",
               "venue_state": "NSW",
               "venue_suburb": "Council of the City of Sydney",
               "venue_postcode": "2000",
               "venue_country": "Australia",
               "venue_country_code": "AU",
               "venue_geojson": null,
               "venue_latitude": "-33.8748582",
               "venue_longitude": "151.199509",
               "event_time_zone": "+1000@Canberra, Melbourne, Sydney",
               "start_date_time": "2025-07-18T17:30:00.000Z",
               "end_date_time": "2025-07-19T21:00:00.000Z",
               "category_uuid": "05f6852d-58c7-4efe-b0d6-36f458af1105",
               "long_description": "<p>The \"Future of Food Summit\" is a groundbreaking assembly dedicated to exploring and accelerating the transformation of our global food systems. This premier event brings together leading scientists, innovative entrepreneurs, agricultural pioneers, policymakers, investors, and thought leaders from across the food value chain. Through a dynamic program of insightful keynotes, interactive panel discussions, hands-on workshops, and a dedicated exhibition, the summit aims to foster collaboration and unveil the cutting edge of food innovation.</p><p>Attendees will gain unparalleled access to the latest research, emerging technologies, and sustainable practices that are reshaping how we produce, process, distribute, and consume food. The summit is designed to inspire actionable strategies for a more resilient, equitable, and sustainable food future.</p><p>Key Themes and Tracks:</p><ul><li>Sustainable Agriculture &amp; Regenerative Practices: Exploring innovations in farming techniques, soil health, water management, and biodiversity to build resilient food ecosystems.</li><li>Alternative Proteins &amp; Novel Foods: Delving into the science and commercialization of plant-based, cultivated, and fermented proteins, and other revolutionary food sources.</li><li>Food Technology &amp; Digital Transformation: Showcasing advancements in AI, blockchain, IoT, precision agriculture, and automation for enhanced efficiency, traceability, and food safety.</li><li>Nutrition, Health &amp; Personalization: Addressing the evolving landscape of consumer health, personalized nutrition, and the role of food in promoting well-being.</li><li>Supply Chain Resilience &amp; Food Security: Examining strategies to optimize supply chains, reduce food waste, and ensure access to nutritious food for all, especially in a changing climate.</li><li>Investment &amp; Entrepreneurship in Food Tech: Connecting innovators with investors to accelerate the growth of disruptive food technologies and startups.</li></ul><p>For further information and inquiries, please contact us:</p><ul><li><strong>Email:</strong> <a href=\"mailto:info@example.com\">info@example.com</a></li><li><strong>Phone:</strong> +61 123 123 1234 (available Monday - Friday, 9:00 AM - 5:00 PM WIB)</li><li><strong>Social Media:</strong> Follow us on <a href=\"https://www.linkedin.com/\">LinkedIn</a>, <a href=\"https://www.instagram.com/\">Instagram</a>, and <a href=\"https://www.facebook.com/\">Facebook</a> for the latest updates.</li></ul>\n",
               "is_faqs_displayed": true,
               "total_group_tickets_remaining": 0,
               "total_individual_tickets_remaining": 0
          }
     }
]
{% endparse_json %}

{%- graphql results, models: import_events -%}
     mutation ($models: [CustomizationImport!]!) {
          import_models(
               models: $models
          ) {
               ids
          }
     }
{%- endgraphql -%}
{% log results, type: "SEED DATA: Events" %}