---
metadata: {
    partial_name: 'Events | Hero Title'
}
---

<section class="hero-title">
    <div class="wrapper">
        <div class="spacer xxx-large"></div>
        <div class="grid-container">
            <div class="page-hero-container">
                <h1 class="heading-1-small">
                    {{ header }}
                </h1>
                <p>{{ description }}</p>
            </div>
        </div>
        <div class="spacer section show-for-medium"></div>
        <div class="spacer xxx-large show-for-small-only"></div>
    </div>
</section>
