---
metadata: {
    partial_name: 'Events | Purchase Ticket | Payment Step'
}
---

{% comment %} Get contact uuid and email based on if user has profile {% endcomment %}
{% function has_profile = "modules/website/layout/check_if_user_has_profile" %}
{%- if has_profile -%}
  {% assign contact_uuid = context.current_user.external_id %}
  {% assign email = context.current_user.email %}
{%- else -%}
  {% assign contact_uuid = context.session.event_guest_uuid %}
  {% assign email = context.session.billing_contact_email %}
{%- endif -%}

<input type="hidden" id="contact_uuid" value="{{ contact_uuid }}">


{% comment %} Get stripe settings {% endcomment %}
{% function stripe_settings = "modules/portal/stripe/get_stripe_settings" %}
{%- assign stripe_account_id = stripe_settings.account_id -%}


<div id="ticket-payment-step" class="hide">
  <div id="payment-details">

    {% comment %} Credit Card heading & Add credit card button for logged in users {% endcomment %}
    <div class="grid-x grid-padding-x">
      <div class="large-6 medium-6 small-12 cell">
        <h3 class="heading-2-xsmall">Credit card</h3>
      </div>
      <div class="large-6 medium-6 small-12 cell text-right">
        {% if has_profile %}
          <div class="spacer small show-for-small-only"></div>
          <div id="add-credit-card-button-holder" class="hide">
              <ins-button type="button" class="add-card-btn" icon="icon-plus" label="Add credit card">
              </ins-button>
          </div>
        {% endif %}
      </div>
    </div>

    {% comment %} Credit Cards {% endcomment %}
    <div class="validate-credit-card">
      
      <div id="credit-card-fields" class="card-fields">
        <div class="spacer large"></div>
                
        {% comment %} Hidden input for the selected credit card {% endcomment %}
        <ins-input required validate
          field="hidden"
          id="stripe-card"
          class="hide"
          value="{{ selected_card }}"></ins-input>

        <p class="error-message hide">Credit Card is required.</p>

          <div class="grid-container">
          {% comment %} A list of credit cards will be populated here via JS -> loadCards() {% endcomment %}
          <div id="card-options-list" data-card-grid="large-6 medium-12 small-12" class="grid-x grid-padding-x grid-padding-y"></div>
        </div>
      </div>

      {% if stripe_account_id and stripe_account_id != '' %}
        {% comment %} Initially hide elements, ticket-payment.js->loadCards() will toggle them {% endcomment %}
        {%- if has_profile -%}
          <div id="no-card" class="empty-box hide">
            <p class="body-large bold">No card added.</p>
            <div class="spacer"></div>
            <ins-button solid type="button" class="add-card-btn" icon="icon-plus" label="Add credit card"></ins-button>
          </div>
        {%- else -%}
          {% comment %} Use block stripe form for Guest Chackout {% endcomment %}
          <div class="spacer x-small"></div>
          <div id="guest-add-card-form" class="hide">
            {% include 'modules/events/stripe/stripe_form' %}
          </div>
        {%- endif -%}
      {% endif %}

    </div>
  {% comment %}END: Credit Cards {% endcomment %}

  <div class="spacer x-large"></div>


  {%- comment -%} Check if stripe settings are configured {%- endcomment -%}
  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12 cell">                                                                 
      {%- if stripe_account_id == '' or stripe_account_id == null -%}
          <p class="error">Payment settings not configured, please contact website administrator.</p>
      {%- else -%}    

        {% comment %} Back & Pay now buttons {% endcomment %}
        <div id="payment-navigation-buttons" class="grid-x grid-padding-x">  
          <div class="large-6 medium-6 small-12 cell">        
            {% comment %} Hide back button for guest users {% endcomment %}
            <ins-button type="button" outlined label="Back" icon="icon-arrow-back" class="back-step-3-billing ticket-buttons {% if has_profile != true %} hide {% endif %}"></ins-button>
          </div>
          <div class="show-for-small-only spacer xxx-large"></div> 
          <div class="large-6 medium-6 small-12 cell text-right">
            <ins-button solid type="submit" icon="icon-task-completed" id="checkout-ticket-submit-btn" class="w-100 checkout-btn hide ticket-buttons" label="Pay now"></ins-button>
          </div>
        </div>

      {%- endif -%}
    </div>
  </div>

  </div>
  <div class="spacer xxx-large hide-for-small-only"></div>
  <div class="spacer x-large show-for-small-only"></div>
</div>


<!-- Stripe Element -->
{% comment %} Use modal stripe form for Member Ticket Purchase {% endcomment %}
{% if has_profile %}
  <ins-modal id="stripe-modal" 
      no-button 
      with-backdrop
      height="255px" 
      width="520px"
      heading="Add new card">
          {% include 'modules/events/stripe/stripe_form', has_profile %}
  </ins-modal>
{% endif %}

{%- include 'modules/events/stripe/stripe_element',
  public_key: stripe_settings.pk_key,
  has_profile: has_profile -%}
<!-- END Stripe Element -->