---
metadata: {
    partial_name: 'Events | Purchase Ticket | Payment Summary'
}
---

<div id="ticket-payment-summary-container" class="ticket-payment-summary-container">
    <h2 class="heading-2-xsmall">Order summary</h2>
    <div class="spacer x-large hide-for-small-only"></div>
    <div class="spacer show-for-small-only"></div>
    <div id="payment-breakdown">
        <span id="ticket-types"></span>
        <span id="ticket-quantity"></span>
        <span id="ticket-price-summary"></span>
        <div class="spacer medium"></div>
        <hr>
    </div>

    <div class="spacer medium"></div>

    <div class="subtotal-container">
        <p class="subtotal-container-title">Subtotal</p>
        <p id="subtotal-price">$0.00</p>
    </div>
    <div class="spacer x-small"></div>

    {% comment %} ? DISCOUNT SUMMARY - HIDDEN ON DEFAULT {% endcomment %}
    <div class="subtotal-container discount-summary is_not_visible">
        <p class="subtotal-container-title">Discounts</p>
        <p id="display-discount-value-summary">$0.00</p>
    </div>
    <div class="discount-summary-card is_not_visible">
        <div class="spacer x-small"></div>
        {% comment %} ? DISCOUNT DETAILS ON CARD {% endcomment %}
        <ins-card steady>
            <div class="discount-summary-details">
                {% comment %} ? DISCOUNT DETAILS {% endcomment %}
                <div>
                    <div class="body-x-small-bold"> 
                        <span id="display-discount-name" class="body-x-small-bold"></span>
                    </div>
                    <div class="body-x-small">
                        <span id="display-discount-code" class="body-x-small"></span> - <span id="display-discount-value" class="body-x-small"> </span>
                    </div>
                </div>
                {% comment %} ? REMOVE DISCOUNT BUTTON {% endcomment %}
                <div>
                    <button type="button" id="remove-discount"><i class="icon-close-1"></i></button>
                </div>
            </div>
        </ins-card>
        <div class="spacer x-small"></div>
    </div>

    <div class="subtotal-container">
        <p class="subtotal-container-title">Tax</p>
        <p id="tax-price">$0.00</p>
    </div>
    <div class="spacer x-small"></div>

    <div class="subtotal-container">
        <p class="subtotal-container-title">Processing fee (1.7%)</p>
        <p id="proccessing-price">$0.00</p>
    </div>

    <div class="spacer medium"></div>
    <hr>
    <div class="spacer medium"></div>

    <div class="total-container">
        <p class="total-container-title">Total</p>
        <p id="total-price">$0.00</p>
    </div>

    {% comment %} Responsive spacers {% endcomment %}
    {% include 'modules/events/layout/responsive_spacers', desktop: 'xxx-large', mobile: 'x-large' %}
</div>


