---
metadata: {
    partial_name: 'Events | Purchase Ticket | Success Message Section'
}
---


<div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12 cell text-center">
        <div class="spacer xxxx-large"></div>
        <div class="thank-you-img spacer">
            <i class="icon-number-of-checks"></i>
        </div>
        <h1 class="heading-1">We've received your order</h1>
        <div class="spacer small"></div> 
        <p class="body-large">Your order has been received with order number <strong>{{ order.id }}-{{ order.order_reference }}</strong></p>
        <p class="body-large">You will receive an email confirmation shortly.</p>
    </div>
</div>
