{% assign custom_field = event.custom_fields |  first %}
{% assign is_AEDT = custom_field.daylight_savings_time %}
<div id="ticket-allocation-step">
    {% include 'modules/events/purchase_ticket/event_details_card' %}
    <div class="spacer xxx-large"></div>
    <h2 class="heading-2-xsmall">Attendee details</h2>
    <div class="spacer small"></div>
    <p>Know who's coming? Allocate now to personalise your tickets. You can change your allocations in the portal at any time before the event.</p>
    <div class="spacer x-large"></div>

    {% include 'modules/events/purchase_ticket/ticket_allocation_section' %}
    <div class="spacer xxx-large"></div>
</div>