<div class="accordion">

  <div class="item open">
    <div class="title">
        <div class="event-ticket-venue-detail">
            <h3>Venue</h3>
            <div class="spacer x-small"></div>
            <p class="ticket-venue-sub-place">Venue place detail</p>
            <div class="spacer x-small"></div>
            <p class="ticket-venue-categories">x Ticket categories - Tickets starting from $x</p>
        </div>
        <span class="icon"><i class="icon-angle-up"></i></span>
    </div>
    <div class="content">
        <div class="content-inner">
            <div class="ticket-category-container">
                <div class="ticket-category">
                    <i>icon</i>
                    <p>Tiket category</p>
                </div>
                <div class="spacer small"></div>
                <hr>
                <div class="spacer small"></div>        
                <div class="ticket-purchaser">
                    {% comment %} ticket membership
                    <div class="ticket-purchaser-counter">
                        $x
                        <ins-input-stepper
                            min="1"
                            max="100">
                        </ins-input-stepper>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
  </div>


</div>


<style>


.item {
    border-radius: 4px;
    border: 1px solid var(--color-ui-04, #DFDFDF);
    background: var(--color-ui-01, #FFF);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    overflow: hidden;
    transition: all 0.3s ease;
}

.title {
  padding: 24px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}

.content {
  overflow: hidden;
  height: 0;
    transition: height 0.4s ease;
  padding: 0 24px; /* keep horizontal padding */
}

.item.open .content {
 
}

.content-inner {
  padding-bottom: 24px; /* vertical padding moved here */
}

.icon {
  transition: transform 0.3s ease;
}

.item.open .icon {
  transform: rotate(180deg); /* + becomes × */
}

</style>