<div style="margin-top:-40px;">
    <div class="spacer x-large show-for-small-only"></div>
    <a href="/order-history">
        <ins-button label="Go Back" icon="icon-arrow-back"></ins-button>
    </a>
</div>

<div class="spacer xxx-large"></div>
<h1 class="heading-1">Order Number: {{ context.params.slug2 }}</h1>
<div class="spacer x-small"></div>
<p><span class="font-color-head bold">Date Ordered:</span> {{}}</p>
<div class="spacer xxx-large"></div>


<ins-tab>

  <ins-tab-item label="Order Details" >
      {%- include 'modules/ecommerce/user/order_history_detail', order_uuid: context.params.slug2 -%}
  </ins-tab-item>


  <ins-tab-item label="Freight Quote">
    {%- include 'modules/ecommerce/user/order_history_freight_quote', order_uuid: context.params.slug2 -%}
  </ins-tab-item>

</ins-tab>